
.card{
    position: absolute;
    width:13rem;
    height: 20rem;
    border-radius: 0.625rem;
    transform: translate(-50%, -50%)
     rotateY(calc(90deg*var(--i))) translateZ(22rem);
}
.card-content{
    opacity: 1;
    border-radius: 0.625rem;
    background-color: black;
    width: 100%;
    height: 100%;
}
.card-content .border{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    transition: border 1s;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*card 1 content---------------------------------- */
.card-1-background{
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 2px;
    border-radius: inherit;
    background: 
    radial-gradient(rgba(0, 0, 0, 0.377),
     rgb(0, 0, 0)67%),
     url('../resources/me3.jpg') center center no-repeat;
    background-size: 100%;
    transition: background 1s,filter 1s;
    filter: grayscale(50%);
}
.card-1-content{
    background-color: rgba(255, 0, 0, 0);
  }
.card-1-content .title{
    position: absolute;
    margin-top: 0.3125rem;
    top: 0.625rem;
    left: 0.625rem; 
    opacity: 0;
    transition: opacity 1s;
    
}
.card-1-content h2,
.card-1-content h3 {
    box-shadow: #000 1px;
    color: rgb(240, 240, 240);
    text-shadow: -1px -1px 2px rgb(184, 80, 99); 
}
.card-1-content .icons{
  position: absolute;
  width: 10%;
  fill: #fff;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  bottom: 1.25rem;
  left: 0.3125rem;
}
.card-1-content .fab{
    filter: drop-shadow(-0.5px -0.5px 0px rgb(184, 80, 99));
    margin: 0.125rem;
    opacity: 0;
    transition: opacity 1s;
}
.card-1-content a{
    text-decoration: none;
    color:rgb(255, 255, 255);
}
.card-1:hover .card-1-background{
    background: 
    radial-gradient(rgba(0, 0, 0, 0.479),
     rgb(0, 0, 0)67%), url('../resources/me3.jpg') 
    left center no-repeat;
  background-size: 160%;
  filter: grayscale(90%);
}

.card:hover .border{
    border: 1px solid white;
/*     animation: fadin 1s linear forwards;
 */}
.card-1-content:hover .fab,.card-1-content:hover .title{
    opacity: 1;}

/*card 2 About me content-------------------------------------- */
.card-2 .border{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.card-2 h3{
    margin: 0.93rem auto;
    text-shadow:1px 1px 0px rgb(76, 72, 72) ;
    transition: transform 0.3s;
}
.card-2 h4{
    font-size: 0.5rem;
    padding: 0.3125rem;
    margin-bottom: 0.3125rem;
    border-radius: 0.3125rem;
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 1px rgb(15, 14, 14),
    -1px -1px 1px rgb(14, 13, 13);
    color:blanchedalmond;
    transition: transform 0.3s;
}
.card-2 h4:hover,
.card-2 h3:hover{
    transform: scale(1.2);
}


/*card 3 skills content-------------------------------------- */
.skills-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.card-3-content .skills-list h2{
    margin: 0.625rem;

}
.card-3-content .skills-list h2,
.card-3-content .skills-list h4

{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0.5px rgb(122, 27, 27);
}
.card-3-content .skills-list h4{
    margin:0.625rem auto;
}
.card-3-content .skill-porgress{
    padding-left: 2.5px;
    display: flex;
    align-items: center;
    width: 11.25rem;
    height: 0.625rem;
    border-radius: 5px;
    background-color: rgb(39, 6, 6);
    box-shadow: inset 3px 3px 2px rgb(27, 25, 25),
    inset -3px -3px 2px rgb(75, 58, 58);
    
}
.card-3-content .progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4rem;
    border-radius: 5px;
    height: 70%;
    background-color: rgb(206, 146, 146);
    box-shadow:1.5px 2px 0.5px rgb(129, 85, 85) ;   
}
.card-3-content .html-section .progress-bar{
    width: 97%;
}
.card-3-content .ajax-section .progress-bar{
    width: 95%;
}

.card-3-content .php-section .progress-bar{
    width: 85%;
}
.card-3-content .js-section .progress-bar,
.card-3-content .sql-section .progress-bar{
    width: 90%;
}
.card-3-content .css-section .progress-bar,
.card-3-content .python-section .progress-bar{
    width: 80%;
}
.card-3-content .design-section .progress-bar{
    width: 20%;
}

/*card 4 languges Hobbies content--------------------- */
.card-4 .border{
    flex-direction: column;
    justify-content: space-evenly;
}
.card-4 .hobbies{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.card-4 .hobbies,
.card-4 .languges{
    padding: 0.625rem;
    width: 90%;

    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(34, 32, 32),
    -1px -1px 1px rgb(34, 31, 31);
    transition: all 0.4s;
    font-size: 0.6rem;
}
.card-4 .hobbies:hover,
.card-4 .languges:hover{
    transform: translate(-1px,-1px);
    box-shadow: 3px 3px 2px rgb(34, 32, 32),
    -1px -1px 1px rgb(34, 31, 31);
}
.card-4 .hobbies > div{
    display: flex;
    justify-content: space-between;
    padding:0.3125rem;
    width: 50%;
}
.card-4 section .header{
    display: flex;
    justify-content: center;
    padding: 0.3125rem;
}
.card-4 table{
    width: 100%;
}
.card-4 td{
    display: flex;
    align-items: center;
    width: 50%;
}
.card-4 tr{
    display: flex;
    padding: 0.3125rem 0 ;
}
.card-4 .languge-lvl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.625rem;
    height: 0.625rem;
    margin-right:7px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgb(92, 55, 55),
    -1px -1px 1px rgb(49, 39, 39);
}
.card-4 .languge-lvl .inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 60%;
    height: 60%;
    border-radius: 50%;
    box-shadow:
    inset -1px -1px 1px rgb(92, 55, 55),
    inset 1px 1px 1px rgb(49, 39, 39);
}
.card-4 .languge-lvl .inner .filled{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(146, 99, 99);
    box-shadow:-1px -1px 0px rgba(146, 53, 53, 0.432);
}
.card-4 .languge-lvl .inner .half-filled{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    background-color: rgb(146, 99, 99);
    box-shadow:-1px -1px 0px rgba(146, 53, 53, 0.432);
}


/*----------------------------*/

.layers-container{
    position: absolute;
    width: 100%; height: 100%;
    z-index: -1;
    transform: translateY(-100%);
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.layer {
    position: absolute;
    border-radius: 10px;
    transform: translateZ(-20.5rem);
    width: 3rem;
    height: 3rem;
}