*, *::before, *::after {
    box-sizing: border-box;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
}
body{
    background-color: #111;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    perspective: 800px;
    perspective-origin: center calc(50% + 2.4rem);
    overflow: hidden;
    
}

.container{
    position: relative;
    /*transform: rotateY(120deg);*/
    animation: rotaate 35s infinite linear;
}
@keyframes rotate{
    to{ transform: rotateY(180deg);}
}
 
.floor{
    position: absolute;
  width: 70rem;
  height: 70rem;
  background-color: #fff;
  background-image:
    radial-gradient(#012a, #111 66%),
    url('https://assets.codepen.io/1948355/marble01.jpg');
    transform: translate(-50%, -50%) rotateX(90deg) translateZ(-10rem);

}


.card{
    position: absolute;
}
.card-1,.card-2,.card-3,.card-4{
    padding: 4px;
    position: absolute;
    height: 20rem;
    width:13rem;
    border-radius: 1em;
}
.card-1{
    background-color: red;
    transform:translateZ(25rem) translate(-50%, -50%);
}

.card-2{
    background-color: rgb(89, 94, 145);
    transform: translate(-50%, -50%)rotateY(90deg)
     translateZ(25rem);

}

.card-3{
    background-color: red;
    transform:translate(-50%, -50%) rotateY(180deg) 
     translateZ(25rem);
}
.card-4{
    background-color: rgb(236, 139, 212);
    transform:translate(-50%, -50%) rotateY(270deg) 
     translateZ(25rem);
}


.layers {
position: absolute;
left: 0; top: 0;
width: 100%; height: 100%;
transform-style: preserve-3d;
z-index: -1;
}

.layer {
position: absolute;
width: 100%; height: 100%;
border-radius: 1em;
background-color: red;
box-shadow: 0 0 0.5em #000d inset;
}
.layer-1{
    transform: translateZ(-2px);
}
.layer-2{
    transform: translateZ(-4px);
}
.layer-3{
    transform: translateZ(-8px);
}
.layer-4{
    transform: translateZ(-6px);
}
.layer-5{
    transform: translateZ(-10px);
}
.layer-6{
    transform: translateZ(-12px);
}
.layer-7{
    transform: translateZ(-14px);
}
.layer-8{
    transform: translateZ(-16px);
}
.layer-9{
    transform: translateZ(-18px);
}
.layer-10{
    transform: translateZ(-20px);
    box-shadow: 0 0 0.5em #000d inset, 0 0 5px #000;
}


.lights{
    position: absolute;
    transform: translate(-50%, -130%);
    height: 15rem;
    width:20rem;
    border-radius: 1em;
    background-color: rgb(166, 255, 0);
}
