*, *::before, *::after {
    box-sizing: border-box;
    transform-style: preserve-3d;
    margin: 0;
    padding: 0;
}
body{
    background-color: #111;
    color: #fff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 900px;
    perspective-origin: center calc(50% + 2.4rem);
    overflow: hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1{
    font-size: 1.2rem;
}
h2{
    font-size: 1rem;
}
h3{
    font-size: 0.8rem;
}
h4{
    font-size: 0.6rem;
}
h5{
    font-size: 0.4rem;
}


table, caption, tbody, tfoot, thead, tr, th, td {
    all: unset;
}

.container{
    position: relative;
    transform: rotateY(-45deg);
}

 
.floor{
    position: absolute;
    width: 48rem;
    height: 48rem;
    background-color: rgba(56, 55, 55, 0.753);
    background-image:
    radial-gradient(rgba(13, 13, 14, 0.667), #111 100%),
    url('../resources/floorBlock.jpg');
    transform: translate(-50%, -50%) rotateX(90deg)
     translateZ(-10rem);
     transition: background-image 3s ease-in-out ;
}
.floor-inner{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 0 1000px #111;
    background-image:
    radial-gradient(rgba(41, 41, 43, 0.075), #111 0%),
    url('../resources/floorBlock.jpg');
  /*animation: moving-spot-light1 5s linear,
        shrinking-spot-light1 7s linear,
        moving-spot-light-21 6s linear; */
}
.middle-box{
    height: 3rem;
    width: 3rem;
    position: absolute;
    transform:translate(-50%, 7rem)  ;
}
.box-sides{
    width: 100%;
    height: 100%;
    border-radius: 5px ;
    position: absolute;
    box-shadow:inset 0px 0px 10px rgba(0, 0, 0, 0.37) ;
    background-image:radial-gradient(rgba(13, 13, 14, 0.667), #111 100%),
                                url('../resources/floorBlock.jpg');
    background-color: #dd0202;

}


.box-sides.front{
    transform: translateZ(1.2rem);
}
.box-sides.back{
    transform: translateZ(-1.2rem);
}
.box-sides.left{
    transform: rotatey(270deg) translateZ(1.2rem);
}
.box-sides.right{
    transform: rotatey(90deg) translateZ(1.2rem);
}
.box-sides.top{
    transform: rotatex(90deg) translateZ(1.2rem);
}
.box-sides.bottom{
    transform: rotatex(270deg) translateZ(1.2rem) scale(2);
    filter: blur(15px);
}


.lights{
    position: absolute;
    transform: translate(-50%, -130%);
    height: 15rem;
    width:20rem;
    border-radius: 1em;
    background-color: rgb(166, 255, 0);
}
.skip-btn{
    z-index: 1000;
    position: fixed;
    top:5px;
    right: calc(300px);
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #474d53);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1),0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.6rem;
    height: 20px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
}

.skip-btn:hover {
  box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
  opacity: .85;
  outline: 1px solid #da8301!important;
}

.skip-btn:active {
  outline: 0;
}

.skip-btn:focus {
  box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.white-background{
    background-color: rgb(88, 85, 85);
}
.hidden{
    visibility: hidden; 
}
.opacity{
    opacity: 0;
}
